*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #1c2b2d;
    color : white;
    text-align : center;
}


.heading{
    font-size : 4.5rem;
    margin : 5% auto;
    font-family: 'Caveat Brush', cursive;
}


.image-container{
    display: inline-block;
    width : 500;
    height : 400;
    border: 3px solid black;
}